 .header {
    font-size: 42px;
    font-family: Cochin, "Times New Roman", serif;
    color: black;
 }

 div {
    color: black;
    font-size: 24px;
    font-family: Cochin, "Times New Roman", serif;
 }

 body {
    color: black;
    font-family: Cochin, "Times New Roman", serif;
 }
 
 .button {
    font-size: 18px;
    font-family: Cochin, "Times New Roman", serif;
    color: blue;
 }